
 <!-- <nav></nav> -->
 <div class="header">

 </div>

 <div class="container">

    <div class="about">
       <div class="left">
          <h1>About us</h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

       </div>
       <div class="right">
          <!-- <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg"> -->
          <img src="assets\office3.jpg">
       </div>
       <div class="clear"></div>
    </div>



    <div class="mission">

       <div class="left">
          <!-- <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg"> -->
          <img src="assets\office4.jpg">
       </div>
         <div class="right">
          <h1>Mission Statement</h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

       </div>
       <div class="clear"></div>

    </div>



        <div class="team">
       <h1> Our Team<hr></h1>



       <div  class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">A</h1>
          </div>
          <h2>Akshata Sheelvant</h2>
          <h4>Team Leader</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>



       <div class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">S</h1>
          </div>
          <h2>Shreya <B></B></h2>
          <h4>Developer</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>



       <div class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">A</h1>
          </div>
          <h2>Ashwini</h2>
          <h4>Developer</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>



       <div class="card">
         <div class="circle-container">
             <h1 style="color:#fff;">S</h1>
          </div>
          <h2>Sushma </h2>
          <h4>Developer</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>

              <div class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">S</h1>
          </div>
          <h2>Sai priya</h2>
          <h4>Developer</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>



       <div class="card">
         <div class="circle-container">
             <h1 style="color:#fff;">R</h1>
          </div>
          <h2>Ranjita</h2>
          <h4> Developer</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>


    </div>


 </div>
 <footer>
    <br>
    <p>Copyright ©2020 @@@@@@@@. All rights reserved</p>
 </footer>
