h1{
  color: blue;
}


.image{
  background-image:url("https://marketplace.canva.com/MADeq__iQ_8/1/thumbnail_large/canva-abstract-blur-contemporary-office-interior-blue-background-concept-MADeq__iQ_8.jpg");
  /* background-image:url(https://i.pravatar.cc/300); */
  height: 100%;
  width: 100%;
    position: absolute;
    display: block;
    background-size: cover;
    background-position: 50% 40%;
    opacity: 6;
    z-index: -1;

}
