<!-- <p>
Right click on someone's name:
</p>
<ul>
<li *ngFor="let item of items" [contextMenu]="basicMenu" [contextMenuSubject]="item">{{item?.name}}</li>
</ul>
<context-menu>
<ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
Say hi!
</ng-template>
<ng-template contextMenuItem divider="true"></ng-template>
<ng-template contextMenuItem let-item (execute)="showMessage($event.item.name + ' said: ' + $event.item.otherProperty)">
Bye, {{item?.name}}
</ng-template>
<!-- <ng-template contextMenuItem passive="true">
Input something: <input type="text">
</ng-template>
</context-menu> -->


<!--

<table class="table">

<tr>
<th>Index</th><br>
<th>Id</th><br>
<th>Name</th><br>
<th>Description</th><br>


</tr>
<tr *ngFor="let item of list; let i=index">
<td>{{i+1}}</td><br>
<td>{{item.id}}</td><br>
<td>{{item.name}}</td><br>
<td>{{item.description}}</td><br>

</tr>
</table> -->


<!-- <p>Right-click on the items below to show the context menu:</p> -->

<!-- <table>
<tr>
<th>Id</th>
<th>Name</th>
<th>Description</th>
</tr>


<td>
<mat-list>
<mat-list-item *ngFor="let item of list" (contextmenu)="onContextMenu($event, item)">
{{ item.id }},
</mat-list-item>
</mat-list>
</td>


<td>
<mat-list>
<mat-list-item *ngFor="let item of list" (contextmenu)="onContextMenu($event, item)">
{{ item.name }},
</mat-list-item>
</mat-list>
</td>

<td>
<mat-list>
<mat-list-item *ngFor="let item of list" (contextmenu)="onContextMenu($event, item)">
{{ item.description }},
</mat-list-item>
</mat-list>
</td>

</table> -->



<!--  image -->

<!--=========================Mat Table==========================-->

<table mat-table [dataSource]="dataSource" class="table table-striped table-dark">

  <ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef> <b>Id</b> </th>
  <td mat-cell *matCellDef="let item" (contextmenu)="onContextMenu($event, item)">
  {{item.id}}
  </td>
  </ng-container>
  <ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> <b>Name</b> </th>
  <td mat-cell *matCellDef="let item" (contextmenu)="onContextMenu($event, item)">
  {{item.name}}
  </td>
  </ng-container>
  <ng-container matColumnDef="description">
  <th mat-header-cell *matHeaderCellDef> <b>Description</b> </th>
  <td mat-cell *matCellDef="let item" (contextmenu)="onContextMenu($event, item)">
  {{item.description}}
  </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


<!-- Popup -->

  <div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
  </div>
  <mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
      <button mat-menu-item class="btn btn-success" data-toggle="modal" data-target="#exampleModal" (click)="openadd(item)">Add</button>
  <button mat-menu-item class="btn btn-success" data-toggle="modal" data-target="#exampleModal1" (click)="openedit(item)">Edit</button>
  <button mat-menu-item (click)="onContextMenuDelete(item)">Delete</button>
  </ng-template>
  </mat-menu>


<!-- Add Popup -->
<div>
    <form [formGroup]="tableForm" (ngSubmit)="onFormSubmit(tableForm.value)">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Designation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="text" formControlName="name" placeholder="Enter Name" >&nbsp;
              <input type="text" formControlName="description" placeholder="Enter Description">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Close</button>
              <button type="submit" class="btn btn-primary"  >Save</button>
            </div>
          </div>
        </div>
      </div>
      </form>
  </div>



  <!-- ===================Edit Pop Up======================== -->

   <div>
  <form [formGroup]="tableForm" (ngSubmit)="onFormUpdate(tableForm.value)">
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Edit Designation</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <input type="text" formControlName="name" placeholder="Enter Name" >&nbsp;
  <input type="text" formControlName="description" placeholder="Enter Description">
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
  <button type="submit" class="btn btn-primary" >Update changes</button>
  </div>
  </div>
  </div>
  </div>
  </form>
  </div>



