.btn btn-lg btn-primary text-white float-right{
  margin-top: 11px;

}

.image{
  background-image:url("src\assets\office2.jpg");
  /* background-image:url(https://i.pravatar.cc/300); */
  height: 100%;
  width: 100%;
    position: absolute;
    display: block;
    background-size: cover;
    background-position: 50% 40%;
    opacity: 0.6;
    z-index: -1;

}

.headers{
  font-size: 150%;
}
.btn btn-outline-success{
  float: left;
    margin-right: 44px;

}
