
<div class="image">
    <header class="hero-header">
<marquee><h1><i>The difference betweeen Ordinary and Extraordinary is that little "Extra"....</i></h1></marquee>
</header>
</div>

<!-- <ngb-timepicker [(ngModel)]="time" [seconds]="seconds" [meridian]="meridian"></ngb-timepicker>
<button class="btn btn-sm btn-outline-{{meridian ? 'success' : 'danger'}}" (click)="toggleMeridian()">
    Meridian - {{meridian ? "ON" : "OFF"}}
</button>
<hr>
<button class="btn btn-sm btn-outline-{{seconds ? 'success' : 'danger'}}" (click)="toggleSeconds()">
    Seconds - {{seconds ? "ON" : "OFF"}}
</button>
<hr>
<pre>Selected time: {{time | json}}</pre> -->

<!-- <button ngbTooltip="I'll always open to the right" placement="right">Hover me</button> -->

<div class="clock">
  <span class="hour">{{ hours }}:</span>
  <span class="min">{{ minutes }}:</span>
  <span class="second">{{ seconds }}</span>
</div>
