.image{
  background-image:url("src\assets\office1.jpg");
  height: 100%;
  width: 100%;
    position: absolute;
    display: block;
    background-size: cover;
    background-position: 50% 40%;
    opacity: 6;
    z-index: -1;

}
#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.clock {
  font-size: 5rem;
}
